.food-item-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.food-item {
    flex: 1 1 calc(50% - 20px);
    /* 2 items per row */
    box-sizing: border-box;
}


.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background-color: var(--primary-color);
    color: white;
}
